@import '../../variables.scss';

.container{
  text-align: center;
  // height: 3rem;
  max-width: 500px;
  margin: 0 auto;
  color: $mediumGreen;
  border: 2px $darkGreen dotted;
  border-radius: 5px;
  padding: 1.5rem 0 1.5rem 0;
  background-color: whitesmoke;
  input{
    text-align: center;
  }
}