@import '../../variables.scss';

$facebookBlue: #3C5A99;
$googleRed: #db3236;

.content{
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.facebookBtn{
  composes: btn from '../../global.scss';
  color: white;
  border-color: $facebookBlue;
  background-color: $facebookBlue;
  width: 160px;
  &:hover{
    color: $facebookBlue;
    background-color: white;
  }
}

.googleBtn {
  composes: facebookBtn;
  border-color: $googleRed;
  background-color: $googleRed;
  &:hover{
    color: $googleRed;
  }
}