@import '../../variables.scss';

.content{
  position: relative;
  background-color: $mediumGreen;
  height: 5rem;
  width: 100%;
  color: white;
  top: 0;
  left: 0;
}

.title{
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.infoBtn{
  position: absolute;
  left: 1.5rem;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
}

.logoutBtn {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  composes: btn from '../../global.scss';
  background-color: $mediumGreen;
  color: white;
  &:hover{
    background-color: white;
    color: $mediumGreen;
  }
  &:focus{
    outline: none;
  }
}